{% import_yaml "influxdb/defaults.yaml" as version_map %}
{% import_yaml "influxdb/os_map.yaml" as os_map %}

{# Get default settings for desired version #}
{% set influxdb_version = salt['pillar.get']('influxdb:version', '0.8') %}

{% if influxdb_version.startswith('0.8') %}
{% set defaults = version_map.get('0_8') %}
{% else %}
{% set defaults = version_map.get('0_9') %}
{% endif %}

{# Filter os_map by os grain and merge overrides #}
{% set distro_map = salt['pillar.get'](
    'influxdb:lookup',
    default=salt['grains.filter_by'](os_map),
    merge=True)
%}

{# Merge distro_map into settings dictionary #}
{% do defaults.influxdb.update(distro_map) %}

{# Get legacy pillar data for backwards compatibility #}
{% for p_entry in ['bind-address'] %}
{% do defaults.influxdb.conf.update(
    {
        p_entry: salt['pillar.get'](
            'influxdb:{}'.format(p_entry),
            defaults.influxdb.conf.get(p_entry)
        )
    }
) %}
{% endfor %}

{% for p_section in ['admin', 'api', 'raft', 'protobuf'] %}
{% set conf_section = defaults.influxdb.conf.get('p_section', {}) %}
{% do conf_section.update(
    salt['pillar.get'](
        'influxdb:{}'.format(p_section),
        {}
    )
) %}
{% endfor %}

{# Update settings defaults from pillar data #}
{% set influxdb_settings = salt['pillar.get'](
    'influxdb',
    default=defaults.influxdb,
    merge=True)
%}

# vi: set ft=sls :
